<section class="container">
  <div class="columns box m-2">
    <div class="column is-one-third field">
      <h1 class="title">Login</h1>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="username">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="password">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-info">Log In</button>
        </div>
      </div>
    </div>
</section>

<section class="container">
  <div class="columns box m-2">
    <div class="column is-one-third field">
      <h1 class="title">Sign Up</h1>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="username">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="password">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-info">Create Account</button>
        </div>
      </div>
    </div>
</section>

<script src="/javascript/login.js"></script>