{{> post-info post}}

{{#if loggedIn}}
<div class="field m-4">
  <label class="label">Comment</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>
<div class="field m-4">
  <div class="control">
    <button id="add-comment"class="button is-info">Add Comment</button>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}